* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Zen Antique Soft', serif;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-image: linear-gradient(rgba(233, 105, 211, 0.5), rgba(228, 29, 178, 0.73)), url('./img/back-img.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.logo-img {
    height: auto;
    width: 300px;
    color: red;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: blue;
}

.logo-txt {
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 4.5rem;
    color: #ffffff;
}

.reg {
    position: absolute;
    top: 60%;
    left: 45%;
    display: flex;
    gap: 30px;
    font-size: 1.75rem;
}