* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgb(173, 216, 230, 0.5), rgb(135, 206, 235, 0.5)), url('../assets/baby-back-1.png'), url('../assets/baby-back-2.png');
    background-blend-mode: lighten;
}

.header {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.linda-mama-container-header {
    display: flex;
    gap: 80px;
    margin-top: 20px;
}

.baby-main-img {
    position: absolute;
    left: 10%;
}

.baby-img-1-a {
    position: absolute;
    top: 30%;
    left: 20%;
}

.baby-img-2-a {
    position: absolute;
    top: 33%;
    left: 35%;
}

.baby-img-1-b {
    position: absolute;
    top: 53%;
    left: 20%;
}

.baby-img-2-b {
    position: absolute;
    top: 55%;
    left: 33%;
}

.baby-img-1-c {
    position: absolute;
    top: 80%;
    left: 20%;
}

.baby-img-2-c {
    position: absolute;
    top: 83%;
    left: 38%;
}

.baby-img-1-d {
    position: absolute;
    top: 103%;
    left: 20%;
}

.baby-img-2-d {
    position: absolute;
    top: 107%;
    left: 38%;
}

.mama-love-img {
    position: absolute;
    right: 15%;
}

.side-content-img-1 {
    position: absolute;
    left: 10px;
}

.side-content-img-2 {
    position: absolute;
    bottom: -20%;
    right: 10px;
}

.side-content-img-3 {
    position: absolute;
    bottom: -2%;
    right: 10px;
}